[Unit]
Description=Traking work backend

[Service]
User=q
Type=simple
WorkingDirectory=/home/q/traking-work/backend
ExecStart=/home/q/traking-work/backend/main
Restart=always

[Install]
WantedBy=multi-user.target
